fastapi
uvicorn
sqlalchemy
pydantic
passlib
python-jose
python-multipart
bcrypt
email-validator
psycopg2-binary
jinja2
authlib
python-dotenv
httpx
google-auth
google-auth-oauthlib
requests-oauthlib
requests
alembic