on:
  - pull_request
  - push

name: build

jobs:
  connect-to-db:
    runs-on: windows-latest
    name: example
    services:
      mssql:
        image: mcr.microsoft.com/mssql/server:2022-latest
        env:
          SA_PASSWORD: "MyP@ssw0rd2022@BEEBOI@PASSWORDY"
          ACCEPT_EULA: Y
          MSSQL_PID: Developer
        ports:
          - 1433:1433
        options: --name=mssql --health-cmd="/opt/mssql-tools/bin/sqlcmd -S localhost -U SA -P 'MyP@ssw0rd2022@BEEBOI@PASSWORDY' -Q 'SELECT 1'" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Create MS SQL Database
        run: |
          sudo apt-get update && sudo apt-get install -y mssql-tools
          /opt/mssql-tools/bin/sqlcmd -S localhost -U SA -P 'MyP@ssw0rd2022@BEEBOI@PASSWORDY' -Q 'CREATE DATABASE test_db'
